@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;

  margin: 0 auto;
}

/* Кнопки*/
.button {
  font-family: inherit;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}



/* Titles*/
.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/*Header*/

.main-header {
  display: flex;
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  list-style: none;
  width: 480px;
  padding: 0;
  margin-left: 30px;

}

.user-menu-list {
  display: flex;
  justify-content: end;

  list-style: none;
  max-width: 350px;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;

}

.user-menu-link {
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;

}

.main-container {
  flex-grow: 1;
}

/* Hero*/
.hero {

  background-color: #82B3D3;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 485px;
}

/* ПРЕИМУЩЕСТВА*/

.advantages-description {
  font-size: 22px;
  line-height: 26px;

}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.advantages-container {
  width: 400px;
  padding: 85px;
  color: #FFFFFF;
}

.advantages-item:first-child {
  display: flex;

}

.advantages-item:last-child {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-item:not(:first-child, :last-child) {
  width: 400px;
  padding: 85px;
}

.advantages-item {
  background-color: #82B3D3;

}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* h3 advantages*/

.advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;

}

.advantages-container .advantages-subtitle {
  color: #FFFFFF;
}

/* СЕРВИС*/
.services-description {
  font-size: 22px;
  line-height: 26px;

}

.services-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 0 85px;
}

.services-item:nth-child(2) {
  background-color: #FFFFFF;

}

.services-subtitle {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;

}

/* ПОИСК*/
.search-description {
  font-size: 22px;
  line-height: 26px;
}

.search-link-button {
  font-size: 20px;
  line-height: 36px
}

/* ПОДПИСКА*/

.subscribe-title {
  color: #FFFFFF;
}

.subscribe {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");/*изображеие по высоте не помещается полностью, что делать?*/
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}


/* ПОДПИСКА КАТАЛОГА*/
.subscribe-inner {
  background-color: #FFFFFF;
  color: #333333;
  background-image: none;
}

.subscribe-title-inner {
  color: #000000;
}



/*ПОДВАЛ*/

.main-footer {
  margin: 0;
  padding: 0 70px;
}

.contacts-footer {
  display: flex;
  justify-content: space-between;

}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.phone-footer {
  font-style: normal;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

/* ТОП КОНТЕЙНЕР*/

.top-conteiner {

  color: #FFFFFF;

  background-color: #82B3D3;
  background-image: url("../images/filtr.jpg");
  background-size: cover;

}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

/* ФИЛЬТРЫ*/
.filter-catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
line-height: 23px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-button {
  background-color: #82B3D3;
}

.filter-button-reset {
  background-color: rgba(0, 0, 0, 0);;
}


/* КАТАЛОГ ГОСТИНИЦ*/

.hotel-card-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;

}

.rating-hotel {
  font-size: 16px;
  line-height: 20px;
}

.add-favorites-button {
  background-color: #82B3D3;
}

.in-favorites-button {
  background-color: #7DB54F;;
}

/* Пагинация*/

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-current  {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-extention {

  font-size: 22px;
  line-height: 26px;
}
