@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after  {
  box-sizing: border-box;
}

body {
  height: 100%;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;

  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки*/
.button {
  display: inline-block;
  font-family: inherit;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

/* Titles*/
.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/*Header*/

.main-header {
  display: flex;
  padding: 0 70px;
}

.logo {
  display: block;
  width: 140px;
  height: 70px;
  margin-right: 28px;
  margin-bottom: -5px;
  z-index: 10;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus {
  outline: 1px solid #82B3D3;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 480px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  display: block;

}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: 1px solid #82B3D3;
}

.navigation-link-current {
  /*border-bottom: 2px solid #756257; линия получается длинее*/
  text-decoration: underline;
  text-underline-offset: 18px;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  max-width: 350px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.user-menu-item {
  min-width: 44px;

}

.user-menu-search, .user-menu-favorites {

  text-decoration: none;
  min-width: 19px;
  min-height: 19px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px 12px;
}

.user-menu-search {
  background-image: url("../images/search.svg");
}

.user-menu-favorites {
  background-image: url("../images/favorite.svg");
  position: relative;
}

.user-menu-search:hover, .user-menu-favorites:hover {
  opacity: 0.6;
}

.user-menu-search:focus, .user-menu-favorites:focus {
  outline: 1px solid #82B3D3;
}


.favorites {
  background-color: #7DB54F;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  position: absolute;

  min-width: 20px;
  height: 20px;
  top: 2px;
  right: 3px;
}

.user-item {
  margin-left: 20px;
}

.user-menu-link-button {
  display: block;
  min-width: 160px;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  min-height: 19px;
}

.user-menu-link-button:hover {
  background-color: #615048;
}

.user-menu-link-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #756157;
}

.user-menu-link-button:focus {
  background-color: #615048;
  outline: none;
}

.main-container {
  flex-grow: 1;
}

/* Hero*/
.hero {

  background-color: #82B3D3;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 485px;
}

.hero-image-title {
  margin: 51px 371px 82px 371px;
}

/* ПРЕИМУЩЕСТВА*/

.advantages-container {
  padding: 69px 0;
  margin-bottom: 21px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 290px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}

.advantages-wrapper {
  width: 400px;
  padding: 103px 85px;
  color: #FFFFFF;
}

.advantages-item:first-child {
  display: flex;
  justify-content: center;
align-items: center;
}

.advantages-item:last-child {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-item:not(:first-child, :last-child) {
  width: 400px;
  padding: 103px 85px;
}

.advantages-item {
  background-color: #82B3D3;

}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-image {
  display: block;
  height: 100%;
  object-fit: cover;
}
/* h3 advantages*/

.advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.advantages-subtitle::after {
  width: 60px;
  height: 2px;
  content: '';
  display: block;
  margin: 30px auto;
  background: rgba(0, 0, 0, 0.3);
}

.advantages-wrapper .advantages-subtitle::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages-wrapper .advantages-subtitle {
  color: #FFFFFF;
}

/* СЕРВИС*/

.services-conteiner {
  padding: 64px 0;
}

.services-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 346px;
}

.services-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.services-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 80px 85px;
}

.services-item:nth-child(2) {
  background-color: #FFFFFF;

}

.services-subtitle {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.services-house::before {
  width: 75px;
  height: 72px;
  content: '';
  display: block;
  background-image: url(../images/house.svg);
  margin: 0 auto 30px;
  background-repeat: no-repeat;
}

.services-food::before {
  width: 75px;
  height: 72px;
  content: '';
  display: block;
  background-image: url(../images/food.svg);
  margin: 0 auto 30px;
  background-repeat: no-repeat;
}

.services-souvenir::before {
  width: 75px;
  height: 72px;
  content: '';
  display: block;
  background-image: url(../images/souvenir.svg);
  margin: 0 auto 30px;
  background-repeat: no-repeat;
}

.services-description-item {
  margin: 0;
}

/* ПОИСК*/

.search {
  padding: 96px 304px;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 148px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;

}

.search-link-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 376px;
}

.search-link-button:hover {
  background-color: #615048;
}

.search-link-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #756157;
}

.search-link-button:focus {
  background-color: #615048;
  outline: none;
}



/* ПОДПИСКА*/

.subscribe {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  background-color: #82B3D3;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;

}

.subscribe-title {
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.field {
  padding: 12px 20px;
  border-radius: 4px 0px 0px 4px;
  background-color: #F2F2F2;
  min-width: 452px;
  border: none;
  color: #000000;
  font-size: 18px;
  font-family: PT Sans;
  line-height: 24px;
}

.field:focus {
  outline: 3px solid #68A2CA;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  min-width: 232px;
  border: none;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82B3D3;
}

.subscribe-button:focus {
  background-color: #68A2CA;
  outline: none;
}

/* ПОДПИСКА КАТАЛОГА*/

.subscribe-inner {
  background-color: #FFFFFF;
  color: #333333;
  background-image: none;
}

.subscribe-title-inner {
  color: #000000;
}

/*ПОДВАЛ*/

.contacts-footer {
  display: flex;
  justify-content: space-between;

  padding: 40px 70px 30px 70px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 188px;
}

.social-item {
  padding: 0 10px;
  width: 47px;
  height: 40px;

}

.social-link {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:focus {
  outline: none;
}

.social-link svg {
  color: #83B3D3;
}

.social-link:hover svg {
  color: #68A2CA;
}

.social-link:focus svg {
  color: #68A2CA;
}

.social-link:active svg {
  color: rgba(104, 162, 202, 0.3);
}

.phone-footer {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;

}

.footer-phone-link:hover {
  color: #756157;
}

.footer-phone-link:focus {
  color: #756157;
  outline: none;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: block;
  margin: 8.5px 0 8.6px 0;
  width: 115px;
  height: 33px;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link svg {
  color: #000000;
}

.htmlacademy-link:hover svg {
  color: #756157;
}

.htmlacademy-link:focus svg {
  color: #756157;
}

.htmlacademy-link:active svg {
  color: rgba(117, 97, 87, 0.3);
}


/* ТОП КОНТЕЙНЕР*/

.top-conteiner {

  color: #FFFFFF;
  padding: 35px 70px 70px 70px;
  background-color: #82B3D3;
  background-image: url("../images/filtr.jpg");
  background-size: cover;

}

.inner-header {
  text-align: left;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;

}

.breadcrumbs-item .main-page-link::before {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  background-image: url(../images/breadcrumbs-home.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-item:not(:last-child)::after {
  display: block;
  content: "";
  width: 7px;
  height: 10px;
  margin: 0 10px;
  background-image: url(../images/breadcrumbs-more.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* ФИЛЬТРЫ*/

.filter-catalog {
  display: flex;
  text-align: left;
}

.filter-catalog-group {
  margin: 0;
  margin-right: 70px;
  border: none;
  padding: 0;

}

.filter-catalog-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.filter-cost {
  margin-left: auto;
}

.filter-catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 23px;
}

.filter-catalog-item {
  position: relative;
}

.filter-catalog-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  padding-left: 36px;
}

.control:focus {
  outline: none;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-checkbox:focus-within .control-mark, .control-radio:focus-within .control-mark {
  outline: 3px solid #83B3D3;
}

.control-mark {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  left: 0;
  top: 2px;
}

.control-input[type="checkbox"] + .control-mark {
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  content: "";
  width: 13px;
  height: 10px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 46px;
}

.range-label {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
}

.price-text {
  position: absolute;
  top: 12px;
  right: 20px;
  line-height: 24px;
}

.range-input {
  padding: 12px 37px 12px 20px;
  width: 143px;
  height: 48px;
  box-sizing: border-box;
  border: none;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background-color: #F2F2F2;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.input-price-from {
  border-radius: 4px 0 0 4px;
}

.input-price-up {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.4);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle-button {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.range-toggle-button:hover {
  background-color: #FFFFFF;
}

.range-toggle-button:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle-button:active {
  outline: 2px solid #83B3D3;
}

.range-min {
  position: absolute;
  left: 0;
  top: -8px;
}

.range-max {
  position: absolute;
  top: -8px;
  right: -1px;
}

.filter-button-inner {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.button-submit {
  background-color: #82B3D3;
  min-width: 191px;
  margin-bottom: 32px;
  border: none;
}

.button-submit:hover {
  background-color: #68A2CA;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82B3D3;
}

.button-submit:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-reset {
  background-color: rgba(0, 0, 0, 0);
  min-width: 191px;
  border: none;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
}


/* БЛОК СОРТИРОВКИ & КАРТОЧКИ ОТЕЛЕЙ*/

.hotel-catalog {
  padding: 50px 70px 60px 70px;
}


.select-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.hotel-catalog-title {
  text-align: left;
  margin: 0;
  margin-right: 200px;
  padding: 0;
}

/* СОРТИРОВКA*/
.select-control {
  margin-right: 70px;
  padding: 14px 20px;
  width: 292px;
  font-size: 18px;
  font-family: PT Sans;
  line-height: 21px;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.select-control:hover {
  border-color: #68A2CA;
  outline-color: #68A2CA;
}

.select-control:focus {
  outline-color: #68A2CA;
}

.button-view  {
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-position: center center;
  background-repeat: no-repeat;
}

.button-view:hover {
  border-color: #000000;
}

.button-view:focus {
  outline-color: #68A2CA;
}

.button-view:active {
  border-color: #000000;
}

.button-cards {
  background-image: url(../images/cards.svg);
}

.button-current {
  border-color: #000000;
}

.button-slaid {
  background-image: url(../images/slaid.svg);
}

.button-list {
  background-image: url(../images/list.svg);
}



/* КАРТОЧКИ ОТЕЛЕЙ */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  text-align: left;

}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  grid-template-rows: 212px 1fr;
  padding: 20px;
  margin: 0;
  border: 1px solid #E6E6E6;
  border-radius: 4px;

}

.hotel-card-image-link, .hotel-card-title-link {
  grid-column: 1 / -1;
}

.hotel-card-image-link:focus {
  outline: 1px solid #82B3D3;
}

.hotel-card-image {
  display: block;
  width: 100%;

}

.hotel-card-title-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title-link:hover, .hotel-card-image-link:hover {
  opacity: 0.6;
}

.hotel-card-title-link:focus, .hotel-card-image-link:focus {
  outline: 1px solid #82B3D3;
}

/* h3 */

.hotel-card-title-link h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  font-family: PT Sans;
  font-style: normal;
}

.hotel-card-price {
  justify-self: end;
}

.hotel-card-button {
  min-width: 140px;
  display: block;

}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #756157;
}

.hotel-card-button:focus {
  background-color: #615048;
  outline: none;
}

.add-favorites-button {
  min-width: 140px;
  border: none;
  background-color: #82B3D3;
}

.add-favorites-button:hover {
  background-color: #68A2CA;
}

.add-favorites-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #82B3D3;
}

.add-favorites-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.in-favorites-button {
  min-width: 140px;
  border: none;
  background-color: #7DB54F;
  padding: 8px 18px;
}

.in-favorites-button:hover {
  background-color: #6C9E42;
}

.in-favorites-button:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #7DB54F;
}

.in-favorites-button:focus {
  background-color: #6C9E42;
  outline: none;
}

.raiting-stars {
  height: 17px;
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  align-self: center;
  margin: 0;
}

.rating-1 {
  width: 22px;
}

.rating-2 {
  width: 44px;
}

.rating-3 {
  width: 66px;
}

.rating-4 {
  width: 88px;
}

.rating-5 {
  width: 110px;
}

.rating-hotel {
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  min-height: 37px;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  margin: 0;
}


/* Пагинация*/

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  gap: 8px ;
  text-align: left;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;

  text-align: center;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11.4px 0px 12.6px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover {
  outline: 1px solid #82B3D3;
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.30);
}

.pagination-link:focus {
  outline: 1px solid #82B3D3;
  background-color: #68A2CA;
}

.pagination-link-current  {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-extention {

  font-size: 22px;
  line-height: 26px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}


.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-wrapper{
  margin-bottom: 23px;
}

.search-form-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.search-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.date-input {
  width: 440px;
  padding: 12px 40px 12px 20px;
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
}

.date-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.message-text {
  display: block;
  margin-left: 157px;
  margin-top: 4px;
  font-size: 16px;
}

.error-message {
  color: #FF5757;
}

.modal-guests {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.guests-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .guests-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin: auto 0; может и не нужен*/
  }

  .form-laber {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.guests-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 111px;
  margin-left: 46px;
  background-color: #F2F2F2;
}

.guest-button {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  opacity: 0.3;
}

.less-button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/less.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.guests-input {
  line-height: 20px;
  height: 48px;
  width: 31px;
  padding: 14px 5px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  background-color: #F2F2F2;
  border: none;
}

.more-button {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/more.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.guests-input::-webkit-outer-spin-button,
.guests-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.tooltip {
  position: absolute;
  margin-top: 4px;/* надо доделать параметры координат и шир высот*/
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;/*поменять  цыет здесь и ниже*/
  display: block;
}

.tooltip-toggle:hover svg {
  color: #83B3D3;
}

.tooltip-text {
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  padding: 15px 18px 18px 22px;
  display: block;
  width: 216px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 6px;/*доделать*/
}
